body {
  font-size: 16px;
  color: white;
  background-color: darkgray;
  font-family: "Oxygen", sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: purple;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(../images/school\ logo.jpg) no-repeat;
  width: 150px;
  height: 150px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: "Times New Roman", Times, serif;
  color: pink;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}
#phone {
  margin-top: 5px;
}
#phone a {
  text-align: right;
  padding-bottom: 0;
}
#phone div {
  color: beige;
  text-align: right;
  padding-right: 15px;
}
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #222;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

@media (min-width: 1200px) {
  .jumbotron {
    background: url(../images/Jumbotron\ 1200px.png) no-repeat;
    height: 750px;
    box-shadow: 0 0 50px beige;
    border: 2px solid black;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url(../images/school\ logo\ -\ Copy.jpg) no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }
  #collapsable-nav a {
    font-size: 1.2em;
  }
}
#call-btn {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
