body {
  font-size: 16px;
  color: white;
  background-color: pink;
  font-family: "Oxygen", sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: purple;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(../images/school\ logo.jpg) no-repeat;
  width: 150px;
  height: 150px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: "Times New Roman", Times, serif;
  color: pink;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}
#phone {
  margin-top: 5px;
}
#phone a {
  text-align: right;
  padding-bottom: 0;
}
#phone div {
  color: beige;
  text-align: right;
  padding-right: 15px;
}
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #222;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.container .jumbotron {
  box-shadow: 0 0 50px beige;
  border: 2px solid black;
}
#Photos,
#apply-admission,
#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
}
#Photos:hover,
#apply-admission:hover,
#map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#Photos {
  background: url("../images/Photos.jpg.jpg") no-repeat;
  background-size: contain;
}
#apply-admission {
  background: url("../images/admission\ image.png") no-repeat;
  background-size: contain;
}
/*end home page*/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url(../images/Jumbotron\ 1200px.png) no-repeat;
    height: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    background: url(../images/school\ logo\ -\ Copy.jpg) no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  .container .jumbotron {
    background: url(../images/jumbotron\ 992px.png) no-repeat;
    height: 750px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url(../images/Jumbotron\ 768px.png) no-repeat;
    height: 750px;
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }
  #collapsable-nav a {
    font-size: 1.2em;
  }
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid rgb(29, 27, 27);
    background-color: pink;
    color: black;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
}
